##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Packages
##############################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip